@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.bg-home-header {
    background: url('http://huiskopenhongarije.test/home_background.jpeg') center center no-repeat;
    background-size: cover;
}
